:root{
    --background:       #1d1f21;
    --backgroundlight:  #333;
    --background2:      #114;
    --normaltext:       #c9cacc;
    --textdecor:        #2bbc8a;
    --h1text:            white;
}

html {
    border-top: 2px solid var(--normaltext);
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    color: var(--normaltext);
    background-color: var(--background);
    font-family: sans-serif;
    /* font-family: "Menlo", "Meslo LG", monospace; */
    font-weight: 400;
    line-height: 1.725;
    text-rendering: geometricPrecision;
    min-height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.bodyContainer {
    width: 650px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.index_text{
    font-size: 21px;
    text-align: justify;
    color: var(--normaltext);
}
.description {
    font-size: 21px;
    margin-left: auto;
    margin-right: auto;
    color: var(--normaltext);
    text-align: center;
}

.content{
    text-align: justify;
}

.hrcls{
    margin-top: 30px;
    margin-down: 30px;
}

h1 {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--h1text);
}

a {
    color: var(--normaltext);
    text-decoration: underline;
    text-decoration-color: var(--textdecor);
    text-underline-offset: 5px;
}

a:hover {
    color: var(--textdecor);
}

.childlist{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 21px;
    list-style-type:none;
}

.childlist li{
    margin-top: 30px;
}

.childlist figure img:hover {
    margin-top: -15px;
    margin-bottom: 15px;
}

.topsection{
    color: var(--normaltext);
    width: 650px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    text-align:justify;
    margin-top: 30px;
}

.NavigList{
    display: flex;
    flex-direction:row-reverse;
    justify-items: center;
    justify-content: start;
    background-color: var(--backgroundlight);
    margin-bottom: 20px;
    padding: 3px;
}

.NavigItem{
    margin-left: 10px;
    background-color: var(--background2);
    border:1px solid var(--normaltext);
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 2px;
}
.NavigItem a:hover {
    color: var(--textdecor);
}

.TreeMap{
    list-style: none;
    font-size: 20px;
}  

.TreeMap summary{
    text-decoration: none;
}

blockquote{
    margin-left: -1px;
    text-align: justify;
    font-style: italic;
    padding-left: 8px;
    border-left: 1px solid var(--normaltext);
}
summary{
    font-style: bold;
    font-size: 18px;
    text-decoration: underline;
    text-underline-offset: 6px;
    margin-bottom: 10px;
}
footer {
    width: 100%;
    background-color: var(--backgroundlight);
}

.footerContainer{
    width: 100%;
    background-color: var(--backgroundlight);
}


.footer {
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    height: 40px;
    align-items: center;
    margin-top: 30px;
    padding-top: 10px;
}

.footer a {
    text-decoration: none;
    color: var(--textdecor);
}

.footer_text {
    margin-left: auto;
    margin-right: auto;
    flex-wrap: nowrap;
    display: block;
    font-size: 15px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
    color: var(--normaltext);
    width: 650px;
    height: 40px;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 8px;
}

#searchBox {
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
}
.logs{
    margin-top: 30px;
}
.logs ol {
    list-style: none;
    display: flex;
    flex-direction: column-reverse;
}

.logs li {
    margin-bottom: 25px;
}

.logs p {
    margin-left: 25px;
}
.logs summary {
    font-size: 16px;
    color: var(--normaltext);
    background-color: #333;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    list-style: none;
    padding: 5px 0px 10px 10px;
    text-decoration: none;
}

.logs summary:hover {
    background-color: #444;
}

.logs summary ins {
    text-decoration: underline;
    font-size: 18px;
    text-decoration-color: var(--normaltext);
    text-underline-offset: 6px;
}

.logs summary p {
    margin-left: 10px;
}

.logs P{
    text-align: justify;
}
#cc {
    width: 40px;
    display: flex;
}

#meengi {
    width: 40px;
    margin-top: 10px;
    margin-left: 3px;
}

#git {
    width: 36px;
    margin-top: 10px;
    margin-left: 10px;
}

#neo {
    width: 47px;
    margin-top: 12px;
    margin-left: 12px;
}

#masto {
    width: 36px;
    margin-top: 12px;
    margin-left: 12px;
}

#c {
    display: block;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

@media screen and (max-width: 650px) {
    .footer {
        width: 97%;
        margin-left: auto;
        margin-right: auto;
    }
    .footer_text {
        width: 97%;
        margin-left: auto;
        margin-right: auto;
    }
    .bodyContainer {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        overflow: visible;
    }
}